@import url(http://pancakeio.github.com/pancake-themes/resources/normalize.css);@import url(http://pancakeio.github.com/pancake-themes/resources/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Gudea:400);
@import url(http://fonts.googleapis.com/css?family=Gudea:700);
@import url(http://fonts.googleapis.com/css?family=Gudea:400italic);
h1,h2,h3{font-family:'Georgia';font-weight:normal;color:#fff;
line-height:normal;margin-top:1.2em;margin-bottom:.5em}h1:first-child,h2:first-child,h3:first-child{margin-top:.5em}a{text-decoration:none;color:#4682b4}a:hover{color:#7bcbcd}blockquote{padding-left:15px;
border-left:4px solid #999}code{font-family:"Menlo","Monaco","Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;border:1px solid #555;
padding:0 3px;display:inline-block;font-size:85%;
background:#333}pre{border:1px solid #4682b4;
background:#333;-moz-border-radius:3px;
-webkit-border-radius:3px;border-radius:3px;
padding:7px}pre code{border:0;background:transparent;
padding:none}table th,table td{border:1px solid #555;
padding:6px 10px}table th{color:white;background:#555}ul ul,ol ul,ul ol,ol ol{margin-top:.2em;margin-bottom:.5em}input[type=text],input[type=email],input[type=password],textarea{padding:5px;
border:1px solid #999;font-size:108%;
margin-bottom:6px}input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,textarea:focus{outline:0;border-color:#888;
-webkit-box-shadow:0 0 4px #ccc;
-moz-box-shadow:0 0 4px #ccc;box-shadow:0 0 4px #ccc}.button{text-decoration:none;
display:inline-block;color:#555;border:1px solid #ddd;text-align:center;
cursor:pointer;padding:5px 10px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
margin-bottom:5px;
background:#fff;
background:-moz-linear-gradient(top,#fff 0,#e6e6e6 100%);
background:-webkit-linear-gradient(top,#fff 0,#e6e6e6 100%);
background:-o-linear-gradient(top,#fff 0,#e6e6e6 100%);
background:-ms-linear-gradient(top,#fff 0,#e6e6e6 100%);
background:linear-gradient(top,#fff 0,#e6e6e6 100%)}.button:hover{color:white;
border-color:#294d6b;
background:#4682b4;
background:-moz-linear-gradient(top,#4682b4 0,#38678f 100%);
background:-webkit-linear-gradient(top,#4682b4 0,#38678f 100%);
background:-o-linear-gradient(top,#4682b4 0,#38678f 100%);
background:-ms-linear-gradient(top,#4682b4 0,#38678f 100%);
background:linear-gradient(top,#4682b4 0,#38678f 100%)}.button:active{-webkit-box-shadow:inset 0 0 10px #1b3246;
-moz-box-shadow:inset 0 0 10px #1b3246;
box-shadow:inset 0 0 10px #1b3246}body{background:#222;
color:#eee;
font:108%/1.4 'Gudea',sans-serif}header{width:100%;font-size:4em;
color:white;
background:#191919;background-image:url(http://s3.amazonaws.com/zephyr_production/resources/sp_type.png);background-repeat:repeat;
font-weight:normal;
font-family:'Georgia';
border-bottom:2px solid #4682b4}header #header_inner{text-align:center;padding:20px 0px 0px;
width:1000px;
margin:0 auto}header+#container{margin-top:20px}#container{min-height:450px;
padding:15px 20px 20px;
margin:50px auto 50px;
width:750px}#container .iframe_viewer iframe{padding:10px;
width:100%;
border:0;
outline:0;
height:500px}#container .image_viewer{padding-top:50px}#container .image_viewer img{background:white;
border:1px solid #aaa;
-webkit-box-shadow:0 2px 10px #ccc;
-moz-box-shadow:0 2px 10px #ccc;box-shadow:0 2px 10px #ccc;display:block;
margin:0 auto}footer{width:680px;margin:30px auto 50px;
padding:0 20px 0;border-top:1px solid #444;
text-align:right;
font-size:13px}footer a,footer a span{-webkit-transition:color 150ms ease-in-out;
-moz-transition:color 150ms ease-in-out;
-o-transition:color 150ms ease-in-out;
transition:color 150ms ease-in-out}footer a{color:#333;padding:15px 0 20px;
display:block}footer a span{color:#294d6b}footer a:hover{color:#ccc}footer a:hover span{color:#4682b4}@media screen and (max-width:600px){header #header_inner,#container,footer{width:100%}#container{font-size:1.2em;margin-top:20px;
margin-bottom:20px;
-webkit-box-shadow:none;
-moz-box-shadow:none;box-shadow:none;border:0;margin:none;padding-left:10px;padding-right:10px;
width:100%}}<!--se_discussion_list:{"iXMesFXSfk3g8qkVmZzkXmNR":{"selectionStart":2992,"selectionEnd":3005,"commentList":[{"content":"Ancho del banner (header)"}],"discussionIndex":"iXMesFXSfk3g8qkVmZzkXmNR"},"IEhfx1RagdaBV4zgHcKFTRRG":{"selectionStart":3130,"selectionEnd":3141,"commentList":[{"content":"Ancho del texto (container)"}],"discussionIndex":"IEhfx1RagdaBV4zgHcKFTRRG"}}-->